{% extends 'Academia_Arte/base.html' %}

{% block content %}
<br><br>
<div style="text-align: center;" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Mensaje recibido!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Muchas gracias por comunicarte con nosotros</h6>
      <p class="card-text">A la brevedad, estaremos respondiendo tu consulta a tu correo electronico. Gracias por la paciencia!
    </p><p> Para pasar el tiempo te dejamos aqui abajo links donde puedes ver las ultimas noticias y los cursos que brindamos.</p>
      <a href="noticias" class="btn btn-outline-primary">Ver noticias!</a>
      <a href="cursos" class="btn btn-outline-dark">Ver cursos!</a>
    </div>
  </div>
  <br><br>

{% endblock %}