{% extends 'Academia_Arte/base.html' %}

{% block content %}
<br><br>
<div style="text-align: center;" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Felicitaciones!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Te has inscripto con exito!</h6>
      <p class="card-text">A la brevedad, nos estaremos comunicando con Ud. a los fines de coordinar medios de pago y fechas de inicio de cursada.
    </p>
      <a href="cursos" class="btn btn-outline-primary">Ver mas cursos</a>
    </div>
  </div>
  <br><br>

{% endblock %}