{% extends 'Academia_Arte/base.html' %}


{% block content %}

<br>
<div style="text-align:center;">
    <a href="{% url 'cursos' %}" class="btn btn-outline-primary">Regresar <i class="bi bi-arrow-return-left"></i></a>
</div>

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="rounded card-img-top mb-5 mb-md-0" src="{{curso.imagen_curso.url}}" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Curso de {{curso.nombre_curso}}</h1>
                <h3 class="display-8">Cursada a cargo de {{curso.profesor_curso}}</h3>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">{{ curso.precio_curso|add:"2000" }}</span>
                    <span>${{curso.precio_curso}}</span>
                </div>
                <p class="lead">{{curso.descripcion_detalle_curso}}</p>
                <div class="d-flex" >
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"><a href="{% url 'inscripcion_curso' %}"></i> 
                        Inscribirse</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Otros cursos</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for curso1 in todos_cursos %}
                {% if curso1.nombre_curso == curso.nombre_curso  %}

                {% else %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{curso1.imagen_curso.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{curso1.nombre_curso}}</h5>
                                    <!-- Product price-->
                                    ${{curso1.precio_curso}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'Detail' curso1.id %}">Más Información</a></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}