{% extends 'Academia_Arte/base.html' %}

{% block content %}

<br><br>
    <title>Eliminar Estudiante</title>
    <form action="" method="post">
        {% csrf_token %}
        <div style="text-align:center;">
        <h6>¿Está seguro que quiere eliminar al estudiante: {{ object.nombre_estudiante}} {{ object.apellido_estudiante }}?</h6>
        <input type="submit" value="Eliminar." class="btn btn-primary">
        <a href="{% url 'estudiantes_list' %}" class="btn btn-outline-primary">Regresar</a>
        </div>
    </form>
<br><br>
{% endblock %}