{% extends "Academia_Arte/base.html" %}

{% block content %}

<br>
<h1 class="col text-center" >Alumnos</h1>
<table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">Nombre</th>
       <th scope="col">Apellido</th>
       <th scope="col">DNI</th>
       <th scope="col">Cursando:</th>
       <th scope="col"></th>
     </tr>
   </thead>
   <tbody><div style="text-align:center;">
       {% for n in object_list %}
           <tr>
               <td>{{ n.nombre_estudiante }}</td>
               <td>{{ n.apellido_estudiante }}</td>
               <td>{{ n.dni_estudiante }}</td>
               <td>{{ n.curso_estudiante }}</td>

               <td><a type="button" class="btn btn-outline-success" href="{% url 'estudiante_detail' n.id %}">Detalle <i class="bi bi-binoculars-fill"></i></a></td>
               <td><a type="button" class="btn btn-outline-primary" href="{% url 'estudiante_update' n.id %}">Editar <i class="bi bi-pencil"></i></a></td>
               <td><a type="button" class="btn btn-outline-danger" href="{% url 'estudiante_delete' n.id %}">Eliminar <i class="bi bi-trash3"></i></a></td>
           </tr></div>
       {% endfor %}
   </tbody>
</table>
<br>

{% endblock %}


   



