{% extends 'Academia_Arte/base.html'%}
{% load static %}
{% block content %}


<div class="containter py-4">
    <div class="row">
        <div class="clo-md-4">

        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Noticia</th>
                            <th>Descripcion noticia</th>
                            <th colspan="3">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in object_list %}
                        <tr>
                            <td>{{n.titulo_noticia}}</td>
                            <td>{{n.descripcion_noticia}}</td>
                            <td><a href="editar_noticia/{{n.id}}" class="btn btn-block btn btn-outline-primary"><i class="bi bi-pencil"></i></a></td>
                            <td><a href="eliminar_noticia/{{n.id}}" class="btn btn-block btn btn-outline-danger btnEliminacion"><i class="bi bi-trash3"></i></a>
                            </td>                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/eliminar_noticia.js' %}"></script>

{% endblock %}