{% extends 'Academia_Arte/base.html' %}

{% block content %}

<header class="bg-dark py-5"
    style="background: url(https://lh3.googleusercontent.com/pw/AM-JKLVruOm3YwW0ZtsIDihasliTv-LkLdW46d7GO6bl1SN0XsxlllXdaTA4hzwtlN0sGTWcz7DQE9z9pTL8TG9Y8sQrV1RieT8o-1i3V8D7-o5kIcT6UXl81h747zLQrdOajm4USbDlljtJ_VdEujvrX3om=w1293-h667-no?authuser=0) no-repeat center center / cover;">

<p class="text-center fs-3 fw-semibold lh-lg">

    PintaManos, donde el arte esta en tus manos.
    Somos una asociacion de jovenes artistas emprendedores convencidos de que el arte esta en el ser de uno, por lo que todos pueden ser Artistas.
</p>
<p class="text-center fs-3 fw-semibold lh-lg">
    Aqui podras encontrar distintos cursos, de la mano de los mas destacados docentes, a precios sumamente accesibles.
</p>
<p class="text-center fs-3 fw-semibold lh-lg">
    Te podras enterar de las ultimas noticias del arte en el mundo, y compartir junto a una gran comunidad que crece y se expande dia a dia.


</p>
</header>

{% endblock %}