{% extends 'Academia_Arte/base.html' %}


{% block content %}

<br>
<div style="text-align:center;">
    <a href="{% url 'profesores' %}" class="btn btn-outline-primary">Regresar <i class="bi bi-arrow-return-left"></i></a>
</div>

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded-circle" src="{{profesores.imagen_profesor.url}}" height="450" width="100" alt="..." />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">Profesor: {{profesores.nombre_profesor}} {{profesores.apellido_profesor}}</h1>
                <h3 class="display-8">A cargo del curso de: {{profesores.curso_profesor}}</h3>
                <div class="fs-5 mb-5">
                    <span>Curriculum: <br>{{profesores.descripcion_profesor}}</span>
                </div>
                <p class="lead"><h4>{{profesores.biografia_profesor}}</h4></p>
                <div class="d-flex">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}